<div class="uk-grid">
	<div class="uk-width-medium-2-10">
		<ul class="uk-tab uk-tab-left">
			<li><a href="/user/settings/info">Info</a></li>
			<li><a href="/user/settings/password">Password</a></li>
			<li><a href="/user/settings/email">Email</a></li>
			<li class="uk-active"><a href="/user/settings/main-password">Main password</a></li>
		</ul>
	</div>
	<div class="uk-width-medium-8-10">
	<form action="/user/settings/main-password" class="uk-form uk-form-horizontal" method="POST">
			<%- myForm.toHTML(uikitFieldHorizontal) %>
			<div class="uk-form-row">
				<div class="uk-form-controls">
					<button class="uk-button uk-button-primary" type="submit">Change main password</button>
				</div>
			</div>
		</form>
	</div>
</div>
