<form action="/user/sign-in" class="uk-form uk-form-horizontal" method="POST">
	<%- myForm.toHTML(uikitFieldHorizontal) %>
	<div class="uk-form-row">
        <div class="uk-form-controls">
        	<button class="uk-button uk-button-primary" type="submit">Sign in</button>
        </div>
    </div>
</form>