<div class="uk-grid">
	<div class="uk-width-medium-1-2 uk-container-center uk-text-center">

		<form action="/unlock" class="uk-form uk-form-horizontal" method="POST">
		<input type="password" placeholder="Main password" name="password" class="uk-form-large uk-width-1-1 uk-margin-large-bottom uk-text-center">
			<div class="uk-width-1-2 uk-container-center uk-text-center">
				<button class="uk-button uk-button-large uk-button-primary uk-width-1-1" type="submit">Unlock</button>
			</div>
		</form>
	</div>
</div>